<% layout('layout/boilerplate') %>
<h1>All Campgrounds</h1>
<p><a href="/campgrounds/new">Add new campground</a></p>
<ul>
  <% for (let camp of camps) { %>
  <li><a href="/campgrounds/<%=camp._id%>"><%=camp.title%></a></li>
  <% } %>
</ul>
